= errors_for user

%h2= 'Credentials'

.required
  = f.label :name
  = f.text_field :name

- if Errbit::Config.user_has_username
  .required
    = f.label :username
    = f.text_field :username

.required
  = f.label :email
  = f.text_field :email

- if Errbit::Config.github_authentication
  = f.label :github_login
  = f.text_field :github_login

.required
  = f.label :per_page, 'Entries per page'
  = f.select :per_page, [10, 20, 30, 50, 75, 100]

.required
  = f.label :time_zone
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones

.required
  = f.label :password
  = f.password_field :password, :autocomplete => "off"

.required
  = f.label :password_confirmation
  = f.password_field :password_confirmation

- if current_user.admin?
  .checkbox
    = f.check_box :admin
    = f.label :admin, 'Admin?'

  %h2= 'Applications'
  %table.apps
    %thead
      %tr
        %th= t('.name')
        - unless user.admin?
          %th= t('.permit')
        %th= t('.watcher')
    %tbody
      - apps.each do |app|
        %tr
          %td= app.name
          - unless user.admin?
            %td= check_box_tag 'user[permitted_app_ids][]', app.id, f.object.permitted_app_ids.include?(app.id), :id => "permitted_app_ids_#{app.id}", :onchange => 'removeWatcher(this)'
          %td= check_box_tag 'user[watched_app_ids][]', app.id, f.object.watched_app_ids.include?(app.id), :id => "watched_app_ids_#{app.id}", :onchange => 'permitApp(this)'
